/* Fonts: Cyrvetica Extra Outline */
@font-face {
	font-family: "Cyrvetica Extra Outline";
	src: url("../fonts/cyrvetica-extra-outline/cyrvetica-extra-outline.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/cyrvetica-extra-outline/cyrvetica-extra-outline.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */
		url("../fonts/cyrvetica-extra-outline/cyrvetica-extra-outline.otf") format("opentype"),
		/* Open Type Font */
		url("../fonts/cyrvetica-extra-outline/cyrvetica-extra-outline.svg") format("svg"),
		/* Legacy iOS */
		url("../fonts/cyrvetica-extra-outline/cyrvetica-extra-outline.ttf") format("truetype"),
		/* Safari, Android, iOS */
		url("../fonts/cyrvetica-extra-outline/cyrvetica-extra-outline.woff") format("woff"),
		/* Modern Browsers */
		url("../fonts/cyrvetica-extra-outline/cyrvetica-extra-outline.woff2") format("woff2");
	/* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

#template {
	font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;
	font-family: "Cyrvetica Extra Outline";
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	background-color: #000;
	background-color: #191C21;
	background-color: #282d36;
	background-color: #fff;
	background-color: #FFF9C6;
	background-color: #F84C34;
}

@media screen and (min-width: 1440px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1279px) {}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 599px) {}

@media screen and (max-width: 479px) {}