/* Fonts: Cyrvetica Extra Outline */
@font-face {
	font-family: "Cyrvetica Extra Outline";
	src: url("../fonts/cyrvetica-extra-outline/cyrvetica-extra-outline.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/cyrvetica-extra-outline/cyrvetica-extra-outline.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */
		url("../fonts/cyrvetica-extra-outline/cyrvetica-extra-outline.otf") format("opentype"),
		/* Open Type Font */
		url("../fonts/cyrvetica-extra-outline/cyrvetica-extra-outline.svg") format("svg"),
		/* Legacy iOS */
		url("../fonts/cyrvetica-extra-outline/cyrvetica-extra-outline.ttf") format("truetype"),
		/* Safari, Android, iOS */
		url("../fonts/cyrvetica-extra-outline/cyrvetica-extra-outline.woff") format("woff"),
		/* Modern Browsers */
		url("../fonts/cyrvetica-extra-outline/cyrvetica-extra-outline.woff2") format("woff2");
	/* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

.team_open_modal:hover {
	cursor: pointer;
}

/* Common */
.team_content h1 {
	font-family: "Cyrvetica Extra Outline";
	font-size: 96px;
	font-weight: lighter;
	margin: 0px 0px 40px;
	text-transform: uppercase;
}

/* Team list */
.team_list_ul {
	margin: 0px;
	padding: 0px 0px 100px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.team_list_li {
	list-style: none;
	margin: 0px 50px 100px 0px;
	width: 200px;
}

.team_list_media {
	height: 300px;
	width: 100%;
	border-radius: 10px;
	background-color: #fff;
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
	margin-bottom: 15px;
}

.team_list_media .view {
	position: absolute;
	color: #fff;
	display: block;
	width: 80px;
	height: 80px;
	border: 1px solid #fff;
	border-radius: 50%;
	background-color: #000;
	background-color: transparent;
	left: 0px;
	bottom: 0px;
	text-align: center;
	font-size: 14px;
	padding-top: 1.9em;
	margin: 30px 15px;
	opacity: 0;
}

.team_list_li:hover .view {
	opacity: 1;
}

.team_list_media .view:hover {
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.4);
	opacity: 1;
	cursor: pointer;
}

.team_list_li .name {
	display: block;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: 900;
	margin: 10px 0px 10px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #F84C34;
}

.team_list_li .social {
	padding: 0px;
	margin: 0px;
	display: flex;
	width: 100%;
}

.team_list_li .social li {
	list-style: none;
	margin-right: 20px;
}

.team_list_li .social a {
	font-size: 32px;
	display: inline-block;
}

.team_list_li .social a:hover {
	text-decoration: none;
}

/* Team add */
.team_add {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 70px;
	border-radius: 10px;
	border: 1px solid #fff;
	padding: 100px 20px;
	opacity: 0.8;
}

.team_add:hover {
	cursor: pointer;
	opacity: 1;
}

.team_add .icon_add {
	opacity: 0.5;
}

.team_add:hover .icon_add {
	opacity: 0.8;
}

@media screen and (min-width: 1440px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1279px) {}

@media screen and (max-width: 1023px) {
	.team_list_li {
		margin-right: 20px;
	}
}

@media screen and (max-width: 767px) {
	.team_list_li {
		width: 30%;
		margin-right: 0px;
	}
}

@media screen and (max-width: 599px) {
	.content.team_content {
		width: 95%;
	}

	h1 {
		font-size: 56px;
	}

	.team_list_li {
		max-width: 100%;
		width: 48%;
		margin: 0px auto 50px;
	}

	.team_list_media {
		height: 300px;
	}

	.team_list_media .view {
		opacity: 0.8;
	}
}

@media screen and (max-width: 479px) {

	.content.team_content {
		width: 90%;
	}

	h1 {
		font-size: 48px;
		margin-bottom: 25px;
	}

	.team_list_li {
		width: 100%;
		margin: 0px 0px 30px;
	}
}